<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="p/css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <title><%=botName%> | Home</title>
</head>
<body>
    <div class="header">
        <h1>Dashboard</h1>
        <h3>this is an <a href="about">open source</a> bot</h3>
        
        <div class="navBar">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/login">Dash</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>

    <p class="para">
        <b><a>Howdy</a></b> <img width="30px" src=https://discordapp.com/assets/c18f8f63a3232a0d246868b4d9f20f7b.svg> <br><br>
        Welcome to the <%=botName%> Web Dashboard<br><br><br>
        The owner of this bot should probably put some sort of message<br>
        Or Ad here...
    </p>

</body>
</html>