@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

html {
  background-color: #2C2F33;
  font-family: 'Varela Round', sans-serif;

  body {
    margin: 50px;
    margin-top: 15%;
  }
}

h1, h2, h3 {
  color: white;
}

.pc {
  color: #7289da;
}

a {
  text-decoration: none;
  color: #7289da;
}

.header {
  position: absolute;
  top: 5%;
  left: 0%;
  width: 100%;

  background-color: #23272A;

  h1, h3 {
    margin-left: 20px;
  }

  .navBar {
    position: absolute;
    left: 60%;
    top: 30%;

    ul {
      list-style: none;
      
      li {
        display: inline-block;
        
        font-size: 20px;

        width: 100px;
        height: 50px;

        a {
          color: white;
          transition: 0.25s;

          
        }
        
        :hover {
          color: #7289da;
        }
        
        .active {
          color: #7289da;
        }

      }

    }

  }

}


p {
  color: white;
  font-size: 20px;
}

.slider {

  appearance: none;
  
  width: 100%;
  height: 10px;

  background-color: #23272A;
  border-radius: 20px;
  opacity: 0.5;

  outline: none;

  transition: 0.25s;

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 15px;
  height: 15px;

  background-color: #7289da;
  border-radius: 10px;

  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  z-index: 0;
}

.slider:hover {
  opacity: 1;
}

.msweep {
  
  width: 9.5%;
  height: 25%;

}

.login {

  margin-top: 40vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    
    * {
      text-align: center;
      margin-top: 0%;
      margin-bottom: 0%;
    }
  }

  input, button {
    margin-top: 25px;

    outline: none;
    border: none;
    border-radius: 25px;;

    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
    text-indent: 10px;

    color: white;

    transition: 0.25s;

    width: 25%;

    background-color: #23272A;
  }

  button {
    margin-top: 35px;
    width: 20%;
    
    color: #7289da;
    text-indent: 0;
    cursor: pointer;

    transition: 0.25s;

    &:active {
      background-color: #2C2F33;
    }
  }

}

.para {
  margin-top: 50vh;
  text-align: center;
  font-size: 22.5px;

  b {
    font-size: 25px;
  }
}

.error {
  margin-top: 2.5%;
  color: #ff5b5b;
}

#servers {

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .server {

    display: block;

    margin-bottom: 1.5%;

    width: 70%;
    // min-height: 12.5%;
    height: 7.5%;

    // padding: 18px;

    background-color: #7289da50;

    border-radius: 10px;

    h3 {
      margin-left: 10%;
      margin-top: -3%;
    }

    img {
      height: 75%;
      width: 4.5%;

      margin-left: 2.5%;

      border-radius: 100px;

      margin-top: 0.75%;
    }

    button {
      margin-top: -3.75%;
      margin-left: 75%;
    }

    .content {
      display: none;
      margin-bottom: 30%;
      overflow: hidden;
      background-color: #23272A;
    }

  }

}

button {

    outline: none;
    border: none;
    border-radius: 25px;;

    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
    text-indent: 10px;

    color: white;

    transition: 0.25s;

    width: 25%;

    background-color: #23272A;

    margin-top: 35px;

    width: 20%;
    
    color: #7289da;
    text-indent: 0;
    cursor: pointer;

    transition: 0.25s;

    &:active {
      background-color: #2C2F33;
    }
    
}

form {
  
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;

  * {
    font-family: 'Varela Round', sans-serif;
  }

  sub {
    color: white;
    font-size: medium;
  }

  h3 {
    margin-left: 0%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }

  input {
    margin-bottom: 1%;
    width: 30%
  }

  input[type="file"] {
    width: 30%
  }

  .input {
    outline: none;
    border: none;
    border-radius: 25px;

    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    text-indent: 10px;

    color: white;

    transition: 0.25s;

    width: 20%;

    background-color: #23272A;

    margin-left: -0.5%;
  }

  .spacer {
    height: 1%;
    // border-bottom: dotted 5px white;
    width: 25%;
    // margin-left: -2.5%;
    padding-top: 1%;
    margin-bottom: 1%;
  }

  .serverID {
    background: none;
    border: none;
    outline: none;
    color: white
  }

  span {
    margin-top: 2%;
    font-size: medium;
    color: white;
  }

  input[type="submit"] {
    font-size: large;
    color: #7289da;
    background: none;
    border: none;
    width: auto;
  }

}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid white;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #2C2F33;

  transition: 0.25s;

  &:hover, &:active {
    background-color: #23272A;
  } 

}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

